<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .header {
            text-align: center;
            padding: 10px 0;
            border-bottom: 1px solid #eeeeee;
        }
        .content {
            padding: 20px;
            text-align: left;
        }

        .footer {
            text-align: center;
            padding: 10px;
            font-size: 12px;
            color: #777777;
            border-top: 1px solid #eeeeee;
        }
    </style>
    <title></title>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Resetowanie Hasła</h1>
    </div>
    <div class="content">
        <p>Drogi/a Użytkowniku,</p>
        <p>Otrzymaliśmy prośbę o zresetowanie Twojego hasła. Aby zresetować hasło, kliknij poniższy przycisk:</p>
        <a href="{{ resetPasswordUrl }}">Resetuj hasło</a>
        <p>Jeśli nie prosiłeś/aś o reset hasła, zignoruj tę wiadomość. Twoje hasło pozostanie bez zmian.</p>
        <p>Pozdrawiamy,<br>Zespół Time Tracker Jira</p>
    </div>
    <div class="footer">
        <p>© {{ "now"|date("Y") }} Time Tracker Jira. Wszelkie prawa zastrzeżone.</p>
    </div>
</div>
</body>
</html>
